

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.jj,.k{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    font-family:cursive;
}
.jjk{
    display: none; 
}
.card{
    background: url("assets/img/fondo.jpg") no-repeat;
    background-size: cover;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    /* z-index: -1; */
}
#card2{
    background: #000000;
}

.undo{
    align-items: end;
    margin-left: 85%;
    margin-top: 10px;
    margin-bottom: 0px;
    background: #7c1313;;
}
.exit{
    display: none;
}

.card img{
    border: solid black;
    padding: 6px;
    border-radius: 7px;
}
.card2 img{
    border: solid black;
    padding: 6px;
    border-radius: 7px;
}
.card:hover{
    box-shadow: 0 60px 60px purple;
}

@media(max-width: 800px){
    .card{
        grid-column: 1/4;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 0px;
    }
    
    .jj,.k{
        display: none;
    }
    .jjk{
        margin-top: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 27px;
        font-family:fantasy;
    }
    .exit{
        display: block;
    }
}